.App {
  text-align: center;
  padding: 0 300px 0 300px;
}

.App-header {
  background-color: #313337;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  font-size: 25px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

button {
  background: #5e5df0;
  border-radius: 99px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: 65px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
button:hover {
  background-color: #7fed25;
}
h1 {
  flex:1;
  text-align: center;
}
.addField {
  display: inline-flex;
}

.container__item {
  background: #ece2f9;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  padding: 0 30px 30px 30px;
}

.form {
  justify-content: center;
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  width: 170px;
}
.btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #6c7ff2;
}
.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -25px;
}

.form__field {
  width: 360px;
  background: #fff;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 22px;
}

.header-out {
  display: flex;
  background-color:#ece2f9 ;
  
}

.logout-button{
  flex:2;
  align-items: center;
  max-width: 50px;
  height:50px;
}
.logout-button:hover {
  background-color: #d90c09;
}

.task-list {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  scroll-behavior: smooth;
}

.task-list h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.task-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 0.75rem 0.01rem;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
  width: auto;
  gap: 10px;
}

.task-list li:hover {
  background-color: #f1f1f1;
}

.task-text {
  text-align: start;
  width: 70%;
  flex: 1;
  word-wrap: break-word;
  white-space: normal;
}
.task-text.completed {
  text-decoration: line-through;
  color: #888;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  border-style: inherit;
  border-radius: 6px;
  height: 1.7rem;
  border-color: #7f8ff4;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #347dfa;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.edit-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.edit-button:hover {
  background-color: rgb(119, 238, 95);
}

.custom-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: max-content;
}
.task-index {
  max-width: 500px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 10px;
  justify-content: center;
}

.delete-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  margin-right: 5px;
}

.delete-button:hover {
  background-color: #d90c09;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0 20px; /* Further reduce padding for small screens */
  }

  .App-header {
    font-size: calc(10px + 3vmin); /* Larger font size for small screens */
  }

  .form__field {
    width: 100%; /* Full width input fields */
    padding: 15px 10px; /* Adjust padding */
  }

  .task-list ul {
    max-width: 100%; /* Full width task list */
  }

  .task-list li {
    flex-direction: row; /* Stack items vertically */
    align-items: flex-start; /* Align text to the left */
  }

  .task-list li:hover {
    background-color: #f1f1f1;
  }

  .task-index {
    max-width: 100%; /* Full width container */
  }

  .btn--primary {
    padding: 10px 20px; /* Adjust button padding */
    width: 100%; /* Full width button */
    margin-left: 0.1rem;
  }

  .custom-checkbox {
    margin-right: 0; /* Remove margin on checkboxes */
  }

  button {
    padding: 10px; /* Adjust padding */
    font-size: 14px; /* Reduce font size */
  }

  .edit-button,
  .delete-button {
    font-size: 0.8rem; /* Reduce font size */
    margin: 0 0 10px 0; /* Add margin between buttons */
    width: 100%; /* Full width buttons */
    width: fit-content;
  }
}
